<div class="ticket">
    <div class="hour-trip">
        <p class="date"><%= info.flight.date %></p>
        <p class="hour"><%= info.flight.hourDeparture %> - <%= info.flight.hourArrival %></p>
        
        <div class="trip">
            <img src="/assets//trip.png" alt="trip" />
            <div class="dest">
                <p><%= info.airportDeparture.cityName %> (<%= info.airportDeparture.discriminator %>)</p>
                <p><%= info.airportArrival.cityName %> (<%= info.airportArrival.discriminator %>)</p>
            </div>
        </div>
    </div>

    <div class="info-flight-container">
        <div class="available-seat">
            <p>Available seat</p>
            <p><%= info.flight.availableSeat %></p>
        </div>

        <div class="duration">
            <p>Duration</p>
            <p><%= info.flight.travelTime %></p>
        </div>

        <div class="service-container">
            <p>Service</p>
            <div class="trip-service">
                <% if (info.flight.meal) { %>
                    <img src="/assets/plate.png" alt="Plate" />
                <% } %>

                <% if (info.flight.wifi) { %>
                    <img src="/assets/wifi.png" alt="Wifi" />
                <% } %>  

                <% if (!info.flight.wifi && !info.flight.meal) { %>
                    <p>None</p>
                <% } %>
            </div>
        </div>
    </div>

    <button class="bought-trip">Buy : 100€</button>
</div>