<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" type="text/css" href="/css/Home.css" />
    <script defer src="/js/Search.js"></script>
    <script defer src="/js/Home.js"></script>
</head>
<body>
    <%- include("Partials/header", { position: "fixed", authType }) %>
    <%- include("Partials/ModalAlert") %>
    <div class="home-arrival">
        <div class="title">
            <h1>LysFlower</h1>
            <h2>Where your dream take place</h2>
        </div>

        <div class="widget">
            <p class="widget-scroll-title">Scroll</p>
            <div class="widget-scroll">
                <div class="widget-scroll-ball"></div>
            </div>
        </div>
    </div>

    <div class="booking">
        <div class="info"></div>

        <div class="booking">
            <h2>Start living your dream here</h2>
            <form>
                <div class="attributes-form">
                    <div class="booking-form-component search-airport">
                        <input 
                            type="text"
                            class="input-booking"
                            placeholder="Departure airport"
                            id="departure-airport-choice"
                        />
                        <% for(const airport of airports) { %>
                            <div class="airport-choice">
                               <p>
                                    <%= airport.cityName %> 
                                    <span>(<%= airport.discriminator %>)</span>
                                </p>
                            </div>
                        <% } %>
                    </div>

                    <div class="booking-form-component search-airport">
                        <input 
                            type="text"
                            class="input-booking"
                            placeholder="Arrival airport"
                            id="arrival-aiport-choice"
                        />
                        <% for(const airport of airports) { %>
                            <div class="airport-choice">
                               <p>
                                    <%= airport.cityName %> 
                                    <span>(<%= airport.discriminator %>)</span>
                                </p>
                            </div>
                        <% } %>
                    </div>

                    <div class="booking-form-component">
                        <input 
                            type="date"
                            class="input-booking"     
                            id="date-choice"                   
                        />
                    </div>
                </div>

                <button 
                    type="button" 
                    class="booking-form-component button-booking-form button"
                    id="button-search-flight"
                >Search</button>
            </form>
        </div>

        <div class="tickets-container">
            <h2>What we found for you</h2>
            <div id="buy-tickets">
                <% for(let i = 0; i < flights.length; i++) { %>
                    <%- include("Partials/Ticket", { info: flights[i], context: "Bought" }) %>
                <% } %>
            </div>
        </div>
    </div>

    <div class="modal modal-bought">
        <div class="layout"></div>
        <div class="modal-content">
            <% if(!authType.logged) { %>
                <div class="unlogged">
                    <p>To buy a ticket, you need to be logged in !</p>
                    <a href="/login">
                        <button>Login</button>
                    </a>
                </div>
            <% } else { %>
                <div class="logged">
                    <p>Select the number of tickets you wanna buy (limited to 6)</p>
                    <select name="number-tickets" id="number-tickets">
                        <option value="1">1 ticket</option>
                        <option value="2">2 tickets</option>
                        <option value="3">3 tickets</option>
                        <option value="4">4 tickets</option>
                        <option value="5">5 tickets</option>
                        <option value="6">6 tickets</option>
                    </select>

                    <button id="confirm-trade">
                        Buy
                        <span id="price-for-tickets"></span>€
                    </button>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>