<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" type="text/css" href="/css/Home.css" />
    <script defer src="/js/Search.js"></script>
</head>
<body>
    <%- include("Partials/header", { position: "fixed", authType }) %>
    <div class="home-arrival">
        <div class="title">
            <h1>LysFlower</h1>
            <h2>Where your dream take place</h2>
        </div>

        <div class="widget">
            <p class="widget-scroll-title">Scroll</p>
            <div class="widget-scroll">
                <div class="widget-scroll-ball"></div>
            </div>
        </div>
    </div>

    <div class="booking">
        <div class="info"></div>

        <div class="booking">
            <h2>Start living your dream here</h2>
            <form>
                <div class="attributes-form">
                    <div class="booking-form-component">
                        <input 
                            type="text"
                            class="input-booking"
                            placeholder="Departure airport"
                        />
                        <% for(const airport of airports) { %>
                            <div class="airport-choice">
                               <p>
                                    <%= airport.cityName %> 
                                    <span>(<%= airport.discriminator %>)</span>
                                </p>
                            </div>
                        <% } %>
                    </div>

                    <div class="booking-form-component">
                        <input 
                            type="text"
                            class="input-booking"
                            placeholder="Arrival airport"
                        />
                        <% for(const airport of airports) { %>
                            <div class="airport-choice">
                               <p>
                                    <%= airport.cityName %> 
                                    <span>(<%= airport.discriminator %>)</span>
                                </p>
                            </div>
                        <% } %>
                    </div>

                    <div class="booking-form-component">
                        <input 
                            type="date"
                            class="input-booking"                        
                        />
                    </div>
                </div>

                <button 
                    type="button" 
                    class="booking-form-component button-booking-form button"
                    id="button-search-flight"
                >Search</button>
            </form>
        </div>

        <div class="tickets-container">
            <h2>What we found for you</h2>
            <div id="buy-tickets">
                <% for(let i = 0; i < flights.length; i++) { %>
                    <%- include("Partials/Ticket", { info: flights[i], context: "Bought" }) %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>