<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" href="/css/MemberSpace.css" />
    <script defer src="/js/Member.js"></script>
</head>
<body>
    <%- include("Partials/header", { position: "sticky" }) %>
    <%- include("Partials/ModalAlert") %>
    <section class="profil">
        <div class="user-logo">
            <img src="/assets/user.png" alt="Profile" />
        </div>

        <div class="user-info">
            <h3>
                <%= user.name %> 
                <span class="last-name"><%= user.lastname %></span>
            </h3>
            <p><%= user.birthDate %></p>
            <p><%= user.email %></p>
            <p><%= user.phoneNumber %></p>
        </div>
    </section>

    <section class="tickets-container">
        <div class="section-flight">
            <div class="title">
                <h3>Incoming flights</h3>
            </div>

            <div class="tickets-mode-container">
                <% if(!flights.Incoming) { %>
                    <p>You've no incoming flight !</p>
                <% } else { %>
                    <% for(let i = 0; i < flights.Incoming.length ; i++){ %>
                    <%-     include("Partials/Ticket", { info: flights.Incoming[i], context: "Incoming" })  %>
                    <% } %>
                <% } %>
            </div>
        </div>
        
        <div class="section-flight">
            <div class="title">
                <h3>Cancelled flights</h3>
            </div>

            <div class="tickets-mode-container"> 
                <% if(!flights.Cancelled) { %>
                    <p>You've no cancelled flight !</p>
                <% } else { %>
                    <% for(let i = 0; i < flights.Cancelled.length ; i++){ %>
                    <%-     include("Partials/Ticket", { info: flights.Cancelled[i], context: "Cancelled" })  %>
                    <% } %>
                <% } %>
            </div>
        </div>
        
        <div class="section-flight">
            <div class="title">
                <h3>Past flights</h3>
            </div>
            
            <div class="tickets-mode-container">
                <% if(!flights.Done) { %>
                    <p>You've no past flight !</p>
                <% } else { %>
                    <% for(let i = 0; i < flights.Done.length ; i++){ %>
                    <%-     include("Partials/Ticket", { info: flights.Done[i], context: "Past" })  %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </section>
</body>
</html>