<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" href="/css/MemberSpace.css" />
</head>
<body>
    <%- include("Partials/header", { position: "sticky" }) %>
    <section class="profil">
        <div class="user-logo">
            <img src="/assets/user.png" alt="Profile" />
        </div>

        <div class="user-info">
            <h3>
                Nathan, 
                <span class="last-name">Viau</span>
            </h3>
            <p>12/03/2002</p>
            <p>nathan.viau@efrei.net</p>
            <p>+33 7 44 44 44 44</p>
        </div>
    </section>

    <section class="tickets-container">
        <div class="section-flight">
            <div class="title">
                <h3>Incoming flights</h3>
            </div>

            <div class="tickets-mode-container">
                <%- include("Partials/Ticket") %>
                <%- include("Partials/Ticket") %>
            </div>
        </div>
        
        <div class="section-flight">
            <div class="title">
                <h3>Cancelled flights</h3>
            </div>

            <div class="tickets-mode-container"> 
                <%- include("Partials/Ticket") %>
            </div>
        </div>
        
        <div class="section-flight">
            <div class="title">
                <h3>Past flights</h3>
            </div>
            
            <div class="tickets-mode-container">
                <%- include("Partials/Ticket") %> 
            </div>
        </div>
    </section>
</body>
</html>